@import "tailwindcss";
@config "../../tailwind.config.ts";

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/poppins-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./fonts/poppins-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/poppins-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('./fonts/poppins-latin-900-normal.woff2') format('woff2');
}
